@font-face {
  font-family: 'facetwp';
  src:  url('fonts/facetwp.eot?z0vdt4');
  src:  url('fonts/facetwp.eot?z0vdt4#iefix') format('embedded-opentype'),
    url('fonts/facetwp.ttf?z0vdt4') format('truetype'),
    url('fonts/facetwp.woff?z0vdt4') format('woff'),
    url('fonts/facetwp.svg?z0vdt4#facetwp') format('svg');
  font-weight: normal;
  font-style: normal;
}

#available-widgets [class*="facet_stack"] .widget-title::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'facetwp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: "\e900";
}

#customize-controls .facet-stack-tray .description {
  color: #b0b0b0;
  text-align: center;
}
.facet-stack-facets{
	min-height: 60px;
}
.facet-stack-disabled-facets {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px dashed #cfcfcf;
  margin: 0 -3px 12px;
  padding: 0 3px;
}
.facet-stack-disabled-facets .facet-stack-facet {
  color: #8f8f8f;
  opacity: 0.7;
}
.facet-stack-disabled-facets .facet-stack-facet:hover{
  opacity: 1;
}
.facet-stack-highlight-placeholder,
.facet-stack-facet {
  border: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  margin: 9px 0;
  padding: 6px 10px;
}
.facet-stack-highlight-placeholder {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px dashed #cfcfcf;
  box-shadow: none;
}
.facet-stack-facet .dashicons {
  color: #cfcfcf;
  cursor: move;
  margin: 0 3px 0 -3px;
}
.facet-stack-checkbox.checkbox{
  margin-bottom: -6px;
}